<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmployeeDetailsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60150/EmployeeDetailsService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeDetailsService" contract="EmployeeDetailsServiceReference.IEmployeeDetailsService" name="BasicHttpBinding_IEmployeeDetailsService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.2.0" newVersion="5.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>